!!! 5
html
	head
		title eDaimo
		link(rel='stylesheet', href='/css/reset.css')
		link(rel='stylesheet', href='/css/screen.css')
	body
		#container
			header#main-header
				h1.screenreader eDaimo
				include includes/main-navigation
				include includes/user-navigation
				#message!= messages()
			#main-content!= body
			footer#main-footer